#searchBar {
  margin: 15px 10px;
}

th {
  background-color: #4884C4;
  color: white;
}

body {
  background: #f4f4f4;
}

form {
  background-color: #F99B61;
  color: white;
  padding: 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.btn-failure {
  color: red;
  background-color: transparent;
}

.jumbotron {
  background-color: #F99B61;
  color: white;
}

h1 {
  font-weight: bold;
  color: #4884C4;
}
